# Logs
logs/
*.log
.log.
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Java / Spring Boot
target/
build/
.gradle/
.mvn/
bin/
out/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

*.jar
*.war
*.ear
*.class

application-*.properties
application-*.yml
.env

# Angular / Node
node_modules/
dist/
out-tsc/
.angular/
.tmp/
coverage/
*.tsbuildinfo
.pnpm-store/

# IDE
.idea/
.vscode/

*.iws
*.iml
*.ipr

.project
.classpath
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

.metadata/
.recommenders/
.history/

# Temp / Misc
*.tmp
*.swp
*.swo
*.bak
*.pid
*.seed
*.out
*.cache

# Database
*.db
*.sqlite

# Env variants
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
docker-compose.override.yml

# Test
/test-output/

# Native / binaries
*.exe
*.msi
*.dll
*.pdb

# VS / misc
*.suo
*.user
*.sln

# Project files
HELP.md
architecture.png
